.style-scope, .ytd-popup-container {
    border-radius: 0px !important;
}

.ytd-feed-filter-chip-bar-renderer {
    border-radius: 0px !important;
}

.ytd-thumbnail {
    border-radius: 0px !important;
}

#avatar, #avatar #img, #author-thumbnail #img, #channel-thumbnail #img, #creator-thumbnail #img, #creator-heart #img, #hearted-thumbnail, ytd-guide-section-renderer #img, .ytd-recognition-shelf-renderer #img {
    border-radius: 50% !important;
}

#voice-search-button {
    display: none !important;
}

ytd-two-column-browse-results-renderer[page-subtype = "home"] #header {
    display: none !important;
}

ytd-rich-section-renderer {
    display: none !important;
}

#footer {
    display: none !important;
}