#masthead-container[aria-disabled = "true"] ~ #page-manager {
    margin-top: 0px !important;
}

#masthead-container[aria-disabled = "true"] {
    display: none !important;
}

ytd-menu-popup-renderer[sheets-refresh], .ytp-rounded-menu {
    border-radius: 0px !important;
}

/**Topbar*/

button, #container {
    border-radius: 0px !important;
}

/**Related videos*/

ytd-ad-slot-renderer {
    display: none !important;
}

yt-related-chip-cloud-renderer {
    display: none !important;
}

ytd-compact-video-renderer, ytd-compact-radio-renderer {
    margin-bottom: 25px !important;
}

#related {
    width: 400px !important;
}

/**Main video*/

#--tools-volume-display {
    position: absolute;
    font-family: "YouTube Sans";
    font-size: 4rem;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s;
    z-index: 1000;
}

#--tools-volume-display[aria-label = "--tools-tags-not-visible"] {
    opacity: 0;
}

ytd-watch-flexy[theater] #player-theater-container.ytd-watch-flexy {
    max-height: 100vh !important;
}

#cinematics {
    display: none !important;
}

.iv-branding {
    display: none !important;
}

/**Under video*/

#flexible-item-buttons {
    display: none !important;
}

#title, #top-row, #bottom-row {
    margin-bottom: 10px !important;
}

[aria-label = "Share"] {
    display: none !important;
}

#button-shape {
    display: none !important;
}

#sponsor-button {
    display: none !important;
}

ytd-subscription-notification-toggle-button-renderer-next .yt-spec-button-shape-next__icon,
ytd-subscription-notification-toggle-button-renderer-next .yt-spec-button-shape-next__secondary-icon {
    display: none !important;
}

ytd-watch-metadata[modern-metapanel] #description.ytd-watch-metadata {
    border-radius: 0px !important;
}

#clarify-box {
    display: none !important;
}

ytd-metadata-row-container-renderer {
    display: none !important;
}

ytd-merch-shelf-renderer {
    display: none !important;
}

#simple-box {
    margin-top: 25px !important;
}

/**YouTube Controls*/

.ytp-next-button[aria-label = "--tools-tags-not-visible"] {
    display: none !important;
}

.ytp-volume-area[aria-label = "--tools-tags-not-visible"] {
    display: none !important;
}

.ytp-autonav-toggle-button-container[aria-label = "--tools-tags-not-visible"] {
    display: none !important;
}

.ytp-subtitles-button[aria-label = "--tools-tags-not-visible"] {
    display: none !important;
}

.ytp-miniplayer-button[aria-label = "--tools-tags-not-visible"] {
    display: none !important;
}

.ytp-size-button[aria-label = "--tools-tags-not-visible"] {
    display: none !important;
}

.ytp-fullscreen-button[aria-label = "--tools-tags-not-visible"] {
    display: none !important;
}

.ytp-menuitem[role = "menuitemcheckbox"] {
    display: none !important;
}